@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
}

.container {
	max-width: 1200px !important;
}

.team_wrapper {
    padding: 80px 0;
    background-image: url(../img/shape.png), linear-gradient(180deg, #010535 100%, transparent 0%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team_wrapper .head_para {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

.team_wrapper h2 {
	font-size: 50px;
	font-weight: 700;
	margin-top: 15px;
}

.team_wrapper .team_item {
	position: relative;
	margin-top: 50px;
}

.team_wrapper .team_item:hover::before {
	transform: scale(1);
}

.team_wrapper .team_item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(85, 202, 225, 0.6) -0.01%, rgba(78, 82, 172, 0.6) 111.29%);
	transform: scale(0);
	transition: 0.4s all ease-in-out;
	border-radius: 10px;
}

.team_wrapper .team_item figure {
	margin: 0 !important;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.team_wrapper .team_item:hover figure ul {
	visibility: visible;
	opacity: 1;
	top: 50%;
}

.team_wrapper .team_item figure ul {
    list-style: none;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 111;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item figure ul li {
	display: inline-block;
	margin: 0 3px;
}

.team_wrapper .team_item figure ul li a {
	width: 45px;
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #ffffff;
	color: #ffffff;
	transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item figure ul li a:hover {
	background: #010535;
	text-decoration: none;
	border: 2px solid #010535;
}

.team_wrapper .team_item .team_content {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 11;
}

.team_wrapper .team_item .team_content h3 {
	font-size: 20px;
	font-weight: 700;
}

.team_wrapper .team_item .team_content p {
	font-size: 17px;
	margin-top: 10px;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {

}

@media (max-width: 1199px) { 

}

@media (max-width: 991px) {
	.team_wrapper {
		height: auto;
	}
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

}
